# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import base64

def get_key(keyfile ='config.py'):
    with open(keyfile,'rb') as inf:
        k = base64.b64decode(inf.read())
        inf.close()
    return k.decode('utf8')

gkey = get_key()

gmaps.configure(gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
city_data = pd.read_csv("Resources/city_data.csv")
city_data.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Humidity,Max Temp,Wind Speed,Cloudiness
0,0,Galesong,ID,1584908956,-5.32,119.37,100,75.20,2.24,20
1,1,Mar del Plata,AR,1584908899,-38.00,-57.56,42,82.40,6.93,54
2,2,Grimshaw,CA,1584908956,56.18,-117.60,55,33.80,5.82,90
3,3,Nome,US,1584908956,64.50,-165.41,85,21.20,4.70,90
4,4,Albany,US,1584908956,42.60,-73.97,25,42.01,6.93,20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [15]:
locations = city_data[["Latitude", "Longitude"]]
humidity = city_data["Humidity"]

In [24]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, max_intensity = 100, point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [54]:
ideal_spots = city_data

ideal_spots = ideal_spots.loc[(ideal_spots["Max Temp"] < 80) & (ideal_spots["Max Temp"] > 70)]

ideal_spots = ideal_spots.loc[ideal_spots["Wind Speed"] < 10]

ideal_spots = ideal_spots.loc[ideal_spots["Cloudiness"] == 0]

ideal_spots.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Humidity,Max Temp,Wind Speed,Cloudiness
7,7,Carnarvon,AU,1584908957,-24.87,113.63,74,78.80,8.05,0
13,13,Hong Kong,HK,1584908957,22.29,114.16,88,75.00,4.70,0
63,63,Chui,UY,1584908961,-33.70,-53.46,52,75.07,9.10,0
103,103,Castro,BR,1584908964,-24.79,-50.01,61,70.03,4.05,0
131,131,Lolodorf,CM,1584908967,3.23,10.73,97,74.17,1.95,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df =

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map